header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 100px;
    padding: 0.5rem;
}

#trocarLamp {
    width: 210px;
    margin-top: 5px;
    display: none;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}